@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #DFA353;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E5E5E5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.indianYellow{
  color:#DFA353
}

.burlywood{
  color:#E3BB7E

}

.dutchWhite{
  color:#E7D5BD

}

.deepDumpling{
  color:#94321F

}

.bistre{
  color:#47201B
}

.darkSienna{
  color:#301B1A
}